
.bg{
    background-color: #aaaaaa;
}
.wrap{
    margin-left:10%;
    margin-right:10%;
}
.check_CU{
     padding:20px;
 }
.bouton_inscription{
    padding-bottom:20px;
}
.form-group{
    padding-top:10px;
}
