
/* Pour toute la page */
.h3{
    font-weight: 400;
    color:#95a5a6;
}
.my-fluid{
    padding:0 !important;
}
/* Premier background */
.bg-1 {

    color: white;
    padding-top:20px;
    font-size: 20px;
}
.parallax{
    background-image: url('../images/music-fonce.jpg');
    /* Set a specific height */
    max-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.img-logo{
    max-height: 350px;
    display:inline;
    margin-bottom:20px;
}

/* Deuxième background */

.w{
    padding:50px;

}
.centered {
    text-align: center;
}
.w i {
    color: #ff7878;
    font-size: 30px;
}
.w h4 {
    font-weight: 700;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
/* Troisième background */
.bg-3 {

    color: #ffffff;
    padding-top:20px;
}
.parallax2{
    background-image: url('../images/concert-fonce.jpg');
    /* Set a specific height */
    max-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px !important;
}

.inside p {
    font-size:30px;
    padding-top:15px;
    line-height: 60px;
}