/* line 6, ../SCSS/style.scss */
body {
  padding-top: 3.5rem;
}

/* line 9, ../SCSS/style.scss */
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  color: #ce2828;
}

/* change the brand and text color */
/* line 16, ../SCSS/style.scss */
.navbar-custom {
  background-color: #ce2828;
  height: 3.5rem !important;
  /* change the link color */
  /* change the color of active or hovered links */
}
/* line 21, ../SCSS/style.scss */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: white;
}
/* line 27, ../SCSS/style.scss */
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
/* line 36, ../SCSS/style.scss */
.navbar-custom .nav-item .nav-link {
  color: #f1b7b7;
  padding: 10px 15px;
}
/* line 40, ../SCSS/style.scss */
.navbar-custom .nav-item .nav-link:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #e16262;
  color: white;
}
/* line 49, ../SCSS/style.scss */
.navbar-custom img.logo-header {
  height: 2rem;
}
/* line 54, ../SCSS/style.scss */
.navbar-custom .navbar-toggler {
  color: #eda2a2;
  border-color: #eda2a2;
}
/* line 59, ../SCSS/style.scss */
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
